<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <table border="3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Company</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

              <tr>
                    <td><%= data.id %></td>
                    <td><%= data.name %></td>
                    <td><%= data.color %></td>
                    <td><%= data.company %></td>
                    <td><%= data.getPriceRp() %></td>
                    <td><a href="/toys/create/<%= data.id %>">Checkout Now!</a> ||  <a href="/toys/delete/<%= data.id %>">Remove from Cart</a></td>
                </tr>

    </tbody>
</table>

</body>
</html>