<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <table border="3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Company</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
      <% for (let i = 0; i < data.length; i++){ %>
        <tr>
              <td><%= data[i].Toy.id %></td>
              <td><%= data[i].Toy.name %></td>
              <td><%= data[i].Toy.color %></td>
              <td><%= data[i].Toy.company %></td>
              <td><%= data[i].Toy.getPriceRp() %></td>
              <td><a href="/thanks">Checkout Now!</a> ||  <a href="/toys/delete/<%= data[i].Toy.id %>">Remove from Cart</a></td>
          </tr>
     <% } %>

    </tbody>
</table>

</body>
</html>